@model PortfolioSite.Models.Project

@{
    ViewBag.Title = "Details";
}

<h3 class="aligncenter">Project Details</h3>
<h4 class="aligncenter">@Html.DisplayFor(model => model.Name)</h4>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GithubURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GithubURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToolsAndSkills)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToolsAndSkills)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>


    <h4 class="aligncenter">@Html.DisplayNameFor(model => model.ProjectImages)</h4>

            <div class="flexcontainer">
                @foreach (var image in Model.ProjectImages)
                {

                    <div class="projectpreviewboxcontainer">
                        <div class="projectpreviewboxtop">
                            <h4>@image.ImageName</h4>
                        </div>
                        <div class="projectpreviewbox">
                            <div class="projectthumbnail" style="display: inline-block">
                                <a class="fancybox" rel="group" href="~/@image.ImageURL"><img src="~/@image.ImageURL" class="img-responsive" alt="" /></a>
                                <p>@image.ImageDescription</p>
                            </div>
                        </div>
                    </div>

                }
              </div>


        

    
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProjectId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox();
	});
</script>