@model PortfolioSite.Models.Project

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScreenshotURL)
        </dt>

        <dd>
            <div class="projectthumbnail">
            <img src="~/@Html.DisplayFor(model => model.ScreenshotURL)" class="img-responsive" />
            </div>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GithubURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GithubURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToolsAndSkills)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToolsAndSkills)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProjectId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
