@model IEnumerable<PortfolioSite.Models.Project>

@{
    ViewBag.Title = "Index";
}

<h3 class="aligncenter">Projects</h3>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="flexcontainer">
    @foreach (var item in Model)
    {

        <div class="projectpreviewboxcontainer">
            <div class="projectpreviewboxtop">
                <h4>@Html.DisplayFor(modelitem => item.Name)</h4>
            </div>
            <div class="projectpreviewbox">
                <div class="projectthumbnail">
                    <img src="~/@Html.DisplayFor(modelItem => item.ScreenshotURL)" class="img-responsive" />
                </div>
                <p>@Html.DisplayFor(modelItem => item.Description)</p>
                <p>@Html.DisplayFor(modelItem => item.ToolsAndSkills)</p>
                <a href="@Html.DisplayFor(modelItem => item.GithubURL)" target="_blank"><i class="fa fa-github-square fa-lg"></i> View Project on Github</a>
                <hr />
                @Html.ActionLink("Edit", "Edit", new { id = item.ProjectId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProjectId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProjectId })

            </div>
        </div>

    }
</div>
