<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Portfolio</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Homemade+Apple' rel='stylesheet' type='text/css'>

    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

    <script src="~/Scripts/jquery.fancybox.pack.js"></script>
    <link href="~/Content/jquery.fancybox.css" rel="stylesheet" />
</head>
<body>
    <br />
    <!--start viewable content-->
    <div class="container" style="border: 3px dashed #7f479a; border-radius: 10px;">
        <br />
        <h1 class="permanentmarker aligncenter huge">coding is magic</h1>
        <!--navbar-->
        <div class="navbar-default navbar-nav">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                <i class="fa fa-caret-square-o-down fa-2x"></i>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="permanentmarker nothashuge">@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="permanentmarker nothashuge">@Html.ActionLink("About", "About", "Home")</li>
                <li class="permanentmarker nothashuge">@Html.ActionLink("Contact", "Contact", "Home")</li>
                <li class="permanentmarker nothashuge">@Html.ActionLink("Projects", "Index", "Projects")</li>
            </ul>
        </div>


        <br /><br />
        <!--render individual view content-->
        <div class="body-content">
            @RenderBody()
        </div>
        <br />
    </div>
    <!--footer-->
    <div id="footer" class="container" style="display: block; clear: both;">
        <footer>
            <p class="alignright">&copy; @DateTime.Now.Year - Tori Brenneison</p>
        </footer>
    </div>
    
</body>
</html>